body {
  overflow-x: hidden;
}

.darumadrop-one-regular {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100vw; /* Ancho completo de la ventana de visualización */
  height: 100vh; /* Alto completo de la ventana de visualización */
  background-size: cover; /* Ajusta la imagen al tamaño del body */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  margin: 0; /* Elimina los márgenes predeterminados */
  padding: 0; /* Elimina el padding predeterminado */
}

#contenedorTexto {
  margin-top: -50vh;
  display: flex;
  width: 100%;
  text-align: center;
}

#contenedorTexto2 {
  margin-top: -25vh;
  display: flex;
  width: 100%;
  text-align: center;
}

#contenedorTexto h1 {
  font-family: "Darumadrop One", sans-serif;
  margin-top: -57vh;
  text-align: center;
  margin-left: 37vw;
}

#contenedorTexto2 h4 {
  font-family: "Darumadrop One", sans-serif;
  margin-left: 22vw;
  margin-top: 49vh;
  text-align: center;
  font-size: 2vw;
  max-width: 50vw;
}

#boton {
  margin-top: -20vh;
  margin-left: -10vw;
  display: flex;
}

#boton img {
  width: 120vw;
  height: 130vh;
}

#botonGenerar {
  margin-left: -12vw;
  display: flex;
}

#botonGenerar button {
  background-color: #ff8181;
  -webkit-text-fill-color: black;
  margin-top: -85vh;
  margin-left: 49vw;
  margin-right: 58vw;
  width: 18vw;
}

#boton2 {
  margin-top: 0vh;
  position: absolute;
  margin-left: 37vw;
  margin-right: 45vw;
}

#boton2 img {
  width: 10vw;
  height: 10vh;
}

#qrcode {
  position: absolute;
  margin-top: 34vh;
  margin-left: 36vw;
}
#qrcode img {
  width: 20vw;
  height: 20vw;
}

#imagenQr img {
  width: 25vw;
  position: absolute;
  height: 25vw;
  margin-top: 30vh;
  margin-left: 34vw;
}

#botonVolver img {
  margin-bottom: 8vh;
  margin-top: -26vh;
  margin-left: 39.7vw;
  width: 12vw;
  height: 7.6vh;
  position: relative;
}

#dejarMensajeBtn img {
  margin-top: -6vh;
  margin-left: -0.5vw;
}
#downloadBtn img {
  margin-top: 0vh;
  margin-left: 1vw;
}

@media (max-width: 365px) {
  .darumadrop-one-regular {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  body {
    width: 100vw; /* Ancho completo de la ventana de visualización */
    height: 100vh; /* Alto completo de la ventana de visualización */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el padding predeterminado */
    margin-top: -25vh;
    overflow-x: hidden;
  }

  #contenedorTexto {
    margin-top: -50vh;
    position: flex;
    width: 100%;
    text-align: center;
  }

  #contenedorTexto2 {
    margin-top: -25vh;
    position: flex;
    width: 100%;
    text-align: center;
  }

  #contenedorTexto h1 {
    font-family: "Darumadrop One", sans-serif;
    margin-top: -53vh;
    text-align: center;
    margin-left: 5vw;
  }

  #contenedorTexto2 h4 {
    font-family: "Darumadrop One", sans-serif;
    margin-left: 20vw;
    text-align: center;
    font-size: 5vw;
    max-width: 60vw;
    margin-top: 18vh;
  }

  #boton {
    margin-top: 10vh;
    margin-left: -12vw;
  }

  #boton img {
    width: 120vw;
    height: 120vh;
  }

  #botonGenerar button {
    background-color: #ff8181;
    -webkit-text-fill-color: black;
    margin-top: -40vh;
    margin-left: 36vw;
    margin-right: 20vw;
    width: 50vw;
  }
  #boton2 {
    margin-top: 18vh;
    position: flex;
    margin-left: 21vw;
    margin-right: 22vw;
  }

  #boton2 img {
    width: 50vw;
    height: 7vh;
  }

  #qrcode {
    display: flex;
    position: absolute;
    margin-top: 28vh;
    margin-left: 20vw;
  }
  #qrcode img {
    width: 60vw;
    height: 60vw;
  }

  #botonGenerar {
    margin-left: -10vw;
    position: flex;
  }
  #botonGenerar img {
    margin-top: -30vh;
  }
  #downloadBtn img {
    margin-top: -10vh;
    margin-left: 9vw;
  }

  #imagenQr img {
    width: 80vw;
    position: absolute;
    height: 75vw;
    margin-top: 24vh;
    margin-left: 10vw;
  }
  #botonVolver img {
    position: absolute;
    margin-top: 19vh;
    margin-left: 32vw;
    width: 39%;
    height: auto;
  }

  #dejarMensajeBtn img {
    margin-top: -20vh;
    margin-left: 4vw;
  }
}
@media (min-width: 390px) and (max-width: 470px) {
  .darumadrop-one-regular {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  body {
    width: 100vw; /* Ancho completo de la ventana de visualización */
    height: 100vh; /* Alto completo de la ventana de visualización */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el padding predeterminado */
    margin-top: -25vh;
    overflow-x: hidden;
  }

  #contenedorTexto {
    margin-top: -50vh;
    position: flex;
    width: 100%;
    text-align: center;
  }

  #contenedorTexto2 {
    margin-top: -25vh;
    position: flex;
    width: 100%;
    text-align: center;
  }

  #contenedorTexto h1 {
    font-family: "Darumadrop One", sans-serif;
    margin-top: -50vh;
    text-align: center;
    max-width: 100vw;
    margin-left: 14vw;
  }

  #contenedorTexto2 h4 {
    font-family: "Darumadrop One", sans-serif;
    margin-left: 20vw;
    text-align: center;
    font-size: 5vw;
    max-width: 60vw;
    margin-top: 26vh;
  }

  #boton {
    margin-top: 14vh;
    margin-left: -12vw;
  }

  #boton img {
    width: 120vw;
    height: 120vh;
  }

  #botonGenerar button {
    background-color: #ff8181;
    -webkit-text-fill-color: black;
    margin-top: -60vh;
    margin-left: 32vw;
    margin-right: 18vw;
    width: 60vw;
  }

  #boton2 {
    margin-top: 15vh;
    position: flex;
    margin-left: 25vw;
    margin-right: 20vw;
  }

  #boton2 img {
    width: 50vw;
    height: 7vh;
  }

  #qrcode {
    display: flex;
    position: absolute;
    margin-top: 30vh;
    margin-left: 12.5vw;
    width: 80vw;
    height: 80vw;
  }
  #qrcode img {
    width: 80vw;
    height: 80vw;
  }

  #botonGenerar {
    margin-left: -10vw;
    position: flex;
  }
  #dejarMensajeBtn img {
    margin-top: -8vw;
    width: 10vw;
  }
  #downloadBtn img {
    margin-top: 2vh;
    margin-left: 5vw;
  }

  #imagenQr img {
    position: absolute;
    margin-top: 30vh;
    margin-left: 5vw;
    width: 90vw;
    height: 90vw;
  }
  #botonVolver img {
    position: absolute;
    margin-top: 19vh;
    margin-left: 31vw;
    width: 43vw;
    height: 7vh;
  }
}

@media (min-width: 369px) and (max-width: 380px) {
  .darumadrop-one-regular {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  body {
    width: 100vw; /* Ancho completo de la ventana de visualización */
    height: 100vh; /* Alto completo de la ventana de visualización */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el padding predeterminado */
    margin-top: -25vh;
    overflow-x: hidden;
  }

  #contenedorTexto {
    margin-top: -50vh;
    position: flex;
    width: 100%;
    text-align: center;
  }

  #contenedorTexto2 {
    margin-top: -25vh;
    position: flex;
    width: 100%;
    text-align: center;
  }

  #contenedorTexto h1 {
    font-family: "Darumadrop One", sans-serif;
    margin-top: -53vh;
    text-align: center;
    margin-left: 7vw;
  }

  #contenedorTexto2 h4 {
    font-family: "Darumadrop One", sans-serif;
    margin-left: 20vw;
    text-align: center;
    font-size: 5vw;
    max-width: 60vw;
    margin-top: 18vh;
  }

  #boton {
    margin-top: 10vh;
    margin-left: -12vw;
  }

  #boton img {
    width: 120vw;
    height: 120vh;
  }

  #botonGenerar button {
    background-color: #ff8181;
    -webkit-text-fill-color: black;
    margin-top: -50vh;
    margin-left: 35vw;
    margin-right: 20vw;
    width: 50vw;
  }

  #boton2 {
    margin-top: 18vh;
    position: flex;
    margin-left: 21vw;
    margin-right: 22vw;
  }

  #boton2 img {
    width: 50vw;
    height: 7vh;
  }

  #qrcode {
    display: flex;
    position: absolute;
    margin-top: 28vh;
    margin-left: 20vw;
  }
  #qrcode img {
    width: 60vw;
    height: 60vw;
  }

  #botonGenerar {
    margin-left: -10vw;
    position: flex;
  }
  #botonGenerar img {
    margin-top: -20vh;
    width: auto;
  }
  #downloadBtn img {
    margin-top: -10vh;
    margin-left: 11vw;
  }

  #imagenQr img {
    width: 80vw;
    position: absolute;
    height: 75vw;
    margin-top: 24vh;
    margin-left: 10vw;
  }
  #botonVolver img {
    position: absolute;
    margin-top: 19vh;
    margin-left: 34vw;
    width: 35%;
    height: auto;
  }

  #dejarMensajeBtn img {
    margin-top: -20vh;
    margin-left: 7vw;
  }
}
