html,
body {
  overflow-x: hidden;

  background-color: #f5e98b;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#pagina {
  margin: 32px 10vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#reader {
  margin: 16px 0px;
}

#contenedorQR {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contenedorTexto {
  margin: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.customButton {
  margin: 6px 10vw;
  padding: 14px;

  background-color: #ff8181;
  border: 2px solid black;
  border-radius: 24px;
}
.customButton:hover {
  background-color: #ffb3b3;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#buttonContainer {
  display: flex;
  flex-direction: column; /* Por defecto en columna */
  justify-content: center;
  align-items: center;
  margin: 16px 0; /* Ajusta el margen según sea necesario */
}
@media (max-width:500px) {
  html,
body {
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: #f5e98b;
}

.customButton {
  margin: 5px 10vw;
  padding: 0px 35px 8px 35px;
  background-color: #ff8181;
  border: 2px solid black;
  border-radius: 24px;
}
.customButton:hover {
  background-color: #ffb3b3;
}
  
}
@media (min-width:500px)and (max-width: 560px) {
  html,
body {
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: #f5e98b;
}
h1,h2,h3,p{
  margin: 0px;
}
h4{margin: 2px;}
.customButton {
  margin: 5px 10vw;
  padding: 0px 35px 8px 35px;
  background-color: #ff8181;
  border: 2px solid black;
  border-radius: 24px;
}
.customButton:hover {
  background-color: #ffb3b3;
}
  
}
@media(min-width:1020px) {
 html, body {
    overflow-x: hidden;
  
    background-color: #f5e98b;
  }
  #buttonContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}


  #botonDejarNota {
    margin: 0px 50px;
    padding: 4px 62px;
}
  #botonVolver {
    margin: 0px 10px;
    padding: 13px 44px;
}

}

@media (max-width:380px) {

h1,h2,h3,p{
  margin: 0px;
}
h4{margin: 2px;}}