body {
  overflow: hidden;
}

.darumadrop-one-regular {
  font-weight: 400;
  font-style: normal;
}

#imagenFondo img {
  margin-left: -10vw;
  margin-top: -15vh;
}
#imagenFondo img {
  width: 114vw;
  height: 119.5vh;
}

#canvas {
  position: flex;
  margin-top: -99vh;
  margin-left: 17vw;
  font-family: "Darumadrop One", sans-serif;
  height: 50vh;
}
#canvas button {
  font-family: "Darumadrop One", sans-serif;
  margin-top: -10vh;
}
#botonGenerarMuro {
  position: absolute;
  margin-top: 33vh;
  margin-left: 40vw;
}
#botonGenerarMuro img {
  width: 14vw;
  height: 7vh;
}
#falseForm button {
  margin-top: -15vh;
  position: flex;
}

@media only screen and (max-width: 380px) {
  body,
  html {
    overflow: hidden;
  }

  .darumadrop-one-regular {
    font-weight: 400;
    font-style: normal;
  }

  #imagenFondo img {
    margin-left: -10vw;
    margin-top: -20vh;
  }
  #imagenFondo img {
    width: 114vw;
    height: 130vh;
  }

  #canvas {
    position: flex;
    margin-top: -105vh;
    margin-left: 5.25vw;
    font-family: "Darumadrop One", sans-serif;
  }
  #canvas button {
    font-family: "Darumadrop One", sans-serif;
  }
  #botonGenerarMuro {
    position: flex;
    margin-top: 35vh;
    margin-left: 25vw;
  }
  #botonGenerarMuro img {
    width: 50vw;
    height: 7vh;
  }
}
@media (min-width: 380px) and (max-width: 490px) {
  body,
  html {
    overflow: hidden;
  }

  .darumadrop-one-regular {
    font-weight: 400;
    font-style: normal;
  }

  #imagenFondo img {
    margin-left: -10vw;
    margin-top: -20vh;
  }
  #imagenFondo img {
    width: 114vw;
    height: 140vh;
  }

  #canvas {
    position: flex;
    margin-top: -116vh;
    margin-left: 6vw;
    font-family: "Darumadrop One", sans-serif;
  }
  #canvas button {
    font-family: "Darumadrop One", sans-serif;
  }
  #botonGenerarMuro {
    position: flex;
    margin-top: 25vh;
    margin-left: 25vw;
  }
  #botonGenerarMuro img {
    width: 50vw;
    height: 6vh;
  }
}
